### Exploratory Analysis Done on 5000 messages

In [31]:
import pandas as pd
import json

In [32]:
# Load the JSON file
with open('processed_data.json') as file:
    json_data = json.load(file)

In [33]:

# Parse JSON strings
parsed_data = [json.loads(item) for item in json_data]

# Create DataFrame
df = pd.DataFrame(parsed_data)

In [34]:
df.head()

,user_id,app_version,ip,locale,device_id,timestamp,device_type,processed,processing_time
0,1597f878-5bcc-42cc-8d5f-0812be733523,2.3.0,102.119.42.220,CA,7f18718a-e6dd-459c-8461-29cc37475adf,2024-07-13T21:17:07,android,True,2024-07-13T18:08:37.224112
1,46bd7cde-804c-471a-bfc0-dc78314f0b78,2.3.0,53.191.16.232,PA,a19ca3e0-ae08-4416-b2cb-0ee7686caee2,2024-07-13T21:17:08,iOS,True,2024-07-13T18:08:37.226147
2,7e6d72a7-0e87-430d-945e-90b359b43b19,2.3.0,124.187.143.31,NJ,c3f92aed-b493-4942-b9a1-aca0233905e8,2024-07-13T21:17:08,android,True,2024-07-13T18:08:37.226434
3,b49ea473-aca0-4b4a-ba37-564c4d1e20e8,2.3.0,144.143.174.192,MD,0f5be198-84a7-42b8-816d-c33f5917cfe0,2024-07-13T21:17:09,iOS,True,2024-07-13T18:08:37.226656
4,9bf98503-5f52-432d-9d5c-f5473da47750,2.3.0,217.239.117.74,DE,7c9e98a0-fb44-4c0d-be83-027b7f7031f4,2024-07-13T21:17:09,android,True,2024-07-13T18:08:37.226854

In [35]:
df.shape

(5000, 9)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          5000 non-null   object
 1   app_version      5000 non-null   object
 2   ip               5000 non-null   object
 3   locale           5000 non-null   object
 4   device_id        5000 non-null   object
 5   timestamp        5000 non-null   object
 6   device_type      4758 non-null   object
 7   processed        5000 non-null   bool
 8   processing_time  5000 non-null   object
dtypes: bool(1), object(8)
memory usage: 317.5+ KB

In [38]:
# Check for missing values
print(df.isnull().sum())

user_id              0
app_version          0
ip                   0
locale               0
device_id            0
timestamp            0
device_type        242
processed            0
processing_time      0
dtype: int64

In [40]:
# Filter by device type
ios_df = df[df['device_type'] == 'iOS']
ios_df

,user_id,app_version,ip,locale,device_id,timestamp,device_type,processed,processing_time
1,46bd7cde-804c-471a-bfc0-dc78314f0b78,2.3.0,53.191.16.232,PA,a19ca3e0-ae08-4416-b2cb-0ee7686caee2,2024-07-13T21:17:08,iOS,True,2024-07-13T18:08:37.226147
3,b49ea473-aca0-4b4a-ba37-564c4d1e20e8,2.3.0,144.143.174.192,MD,0f5be198-84a7-42b8-816d-c33f5917cfe0,2024-07-13T21:17:09,iOS,True,2024-07-13T18:08:37.226656
5,e441242d-40a3-46cd-ab0d-580eb0f7b7bb,2.3.0,206.17.123.94,AZ,04b13eff-f6a9-4b5a-a418-86426083f044,2024-07-13T21:17:10,iOS,True,2024-07-13T18:08:37.227046
6,aa929ea6-515c-4ab5-98db-039696a5e882,2.3.0,65.157.48.243,MA,e1e8e411-8461-4064-a876-fc7234ae35b9,2024-07-13T21:17:10,iOS,True,2024-07-13T18:08:37.227242
8,0818718a-4d0d-48b7-a732-b77ec12c8488,2.3.0,92.73.76.133,WA,f48b562e-96d0-4607-a485-2eebad70247b,2024-07-13T21:17:11,iOS,True,2024-07-13T18:08:37.227623
...,...,...,...,...,...,...,...,...,...
4987,a1d12518-7568-41df-9f0d-c3f69d3b63f3,2.3.0,229.181.167.101,NM,ae8022f9-0128-45c9-960b-9d6dd6c1eadb,2024-07-13T22:08:36,iOS,True,2024-07-13T18:08:37.757218
4990,53d9bc19-5e30-45de-a9af-494c90cb3257,2.3.0,207.247.12.223,OR,5699bb71-a107-4ee0-aab0-e211e31ba022,2024-07-13T22:08:37,iOS,True,2024-07-13T18:08:37.975943
4992,1e100057-c280-4355-94c8-2248b04a5984,2.3.0,61.242.190.103,AL,a6aa9e29-01e1-45ce-b349-106301f54a59,2024-07-13T22:08:38,iOS,True,2024-07-13T18:08:38.985467
4996,9f1c7b30-6265-475a-bac7-5bb45f23fd04,2.3.0,133.128.53.233,MS,c3a925c1-2b05-43b4-b528-30b0965ed2b1,2024-07-13T22:08:41,iOS,True,2024-07-13T18:08:41.009909
4998,2337a235-2905-47ce-b45e-88b20ef62c53,2.3.0,142.136.235.216,WV,8e4b6236-d056-485e-9431-0f53d10f2a69,2024-07-13T22:08:42,iOS,True,2024-07-13T18:08:42.016003

In [41]:
# Count records by locale
locale_counts = df['locale'].value_counts()
print(locale_counts)

TN    123
WA    121
RI    119
NC    117
AZ    117
CA    115
VT    115
AL    114
OH    113
IL    110
PA    110
NE    109
IN    109
MN    109
CT    107
GA    105
NJ    105
WY    105
HI    105
ID    104
OK    103
MO    103
ME    102
MT    102
WI    102
WV    101
NM    101
LA    100
AK    100
NY     95
UT     94
KS     94
TX     94
NH     93
MA     91
ND     91
IA     91
DE     91
AR     91
FL     90
SD     90
NV     89
VA     89
OR     89
CO     85
MD     83
MS     83
SC     80
KY     80
MI     71
Name: locale, dtype: int64

In [47]:
df['timestamp'] = pd.to_numeric(df['timestamp'])
df['timestamp'] = df['timestamp'].fillna(method='ffill')  # Forward fill as an example

In [48]:
# Calculate the average timestamp
avg_timestamp = df['timestamp'].mean()
avg_datetime = pd.to_datetime(avg_timestamp, unit='s')
print(avg_datetime)

NaT

In [26]:
# Extract date and time components
df['day_of_week'] = df['timestamp'].dt.day_name()
df['hour_of_day'] = df['timestamp'].dt.hour

In [27]:
# Count records by locale and device type
locale_device_counts = df.groupby(['locale', 'device_type']).size().reset_index(name='count')
print(locale_device_counts)

   locale device_type  count
0      AK     android      2
1      AK         iOS      1
2      AL     android      3
3      AR     android      2
4      AR         iOS      3
..    ...         ...    ...
85     WI     android      1
86     WI         iOS      1
87     WV     android      1
88     WY     android      1
89     WY         iOS      1

[90 rows x 3 columns]

In [28]:
# Count the number of records by device type
device_counts = df['device_type'].value_counts()
print(device_counts)

iOS        111
android    105
Name: device_type, dtype: int64

In [29]:
# Count records by locale
locale_counts = df['locale'].value_counts()
print(locale_counts)

GA    8
LA    8
MO    8
ND    8
KY    7
NC    7
AZ    6
NJ    6
OK    6
IA    6
ME    6
MN    6
RI    6
SD    6
TN    6
FL    6
SC    6
OH    6
MD    5
AR    5
CO    5
VA    5
NE    5
VT    5
NM    5
KS    4
CT    4
WA    4
HI    4
NY    4
NH    4
MI    4
UT    4
NV    3
PA    3
IN    3
AK    3
AL    3
MS    3
TX    3
OR    2
WI    2
IL    2
WY    2
ID    2
CA    2
MT    1
MA    1
WV    1
DE    1
Name: locale, dtype: int64

In [30]:
# Count processed vs. non-processed
processed_counts = df['processed'].value_counts()
print(processed_counts)

True    222
Name: processed, dtype: int64